[Unit]
Description=MIDI Start program

[Service]
ExecStart=/home/metarmask/dev/midi-start-program/target/release/midi-start-program
Restart=no
WorkingDirectory=/home/metarmask/
KillMode=control-group
#Environment="ENV_VAR=value"

[Install]
WantedBy=default.target
